<section class="row">

  <mat-card class="card-container column">
    <div class="row">
      <div class="column">
        <mat-icon class="header-icon">grid_on</mat-icon>
      </div>
      <div class="column">
        <mat-card-header>
          <mat-card-title>
            {{block ? block : '-'}}</mat-card-title>
          <mat-card-subtitle>Latest Icon Block</mat-card-subtitle>
        </mat-card-header>
      </div>
    </div>
  </mat-card>

  <mat-card class="card-container column">
    <div class="row">
      <div class="column">
        <img class="img-card" src="../../../assets/icons/balanced.svg" />
      </div>
    </div>
  </mat-card>

  <mat-card class="card-container column">
    <div class="row">
      <div class="column">
        <img class="img-card" src="../../../assets/icons/omm.svg" />
      </div>
    </div>
  </mat-card>
</section>


<section class="row">
  <div class="column filter">
    <mat-form-field >
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
</section>


<section class="table-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="app">
      <mat-header-cell *matHeaderCellDef> App </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img class="image-cell" [src]="getAppImageSource(element.app)" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef> Activity </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="transaction-hash" (click)="openNewTab(element.transactionHash)">
          {{element.activity}}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.timestamp | date : 'medium'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
