<section class="mat-typography title-group">
  <h2>DEFI</h2>
  <mat-divider></mat-divider>
</section>

<section class="row">
  <mat-card class="card-container column" (click)="openNewTab('https://app.balanced.network/')">
    <div class="row">
      <div class="column">
        <img  src="../../../assets/icons/balanced.svg" />
      </div>
    </div>
  </mat-card>

  <mat-card class="card-container column" (click)="openNewTab('https://app.omm.finance/#/home')">
    <div class="row">
      <div class="column">
        <img  src="../../../assets/icons/omm.svg" />
      </div>
    </div>
  </mat-card>
</section>

<section class="mat-typography title-group">
  <mat-divider></mat-divider>
  <h2>GAMES</h2>
  <mat-divider></mat-divider>
</section>

<section class="row">
  <mat-card class="card-container column" (click)="openNewTab('https://iconbet.io/')">
    <div class="row">
      <div class="column">
        <img  src="../../../assets/icons/iconbet.png" />
      </div>
    </div>
  </mat-card>

  <mat-card class="card-container column" (click)="openNewTab('https://projectnebula.app/')">
    <div class="row">
      <div class="column">
        <img  src="../../../assets/icons/nebula.png" />
      </div>
    </div>
  </mat-card>
</section>
